body{

    background-color: lightslategray;
    font-weight: bold;

}

.encabezado{

    background-color: rgb(19, 84, 81);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.datos-personales{

    color: black;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.pie-pagina{

    background-color: lightseagreen;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center; 

}