body{

    background-color: lightslategray;
    font-weight: bold;

}

.encabezado{

    background-color: lightblue;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;

}   

.datos-personales{

    color: black;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.perfil-card{

    max-width: 600px;
    background: lightblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagen{

    width: 250px;
    height: 250px; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;

}

.pie-pagina{

    background-color: lightblue;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: x-large;

}